

# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
**/.DS_*
**/*.log
**/logs
**/*.backup.*
**/*.back.*

**/node_modules
**/bower_components

**/*.sublime*

**/psd
**/thumb
**/sketch

# End of https://www.toptal.com/developers/gitignore/api/react
# Created by https://www.toptal.com/developers/gitignore/api/direnv
# Edit at https://www.toptal.com/developers/gitignore?templates=direnv

### direnv ###
.direnv
.envrc

# End of https://www.toptal.com/developers/gitignore/api/direnv


# Created by https://www.toptal.com/developers/gitignore/api/dotenv
# Edit at https://www.toptal.com/developers/gitignore?templates=dotenv

### dotenv ###
.env

# End of https://www.toptal.com/developers/gitignore/api/dotenv

